.backArrowContainer {

button {
    background-color: #FCD015;
    border-radius: 7px;
    border: 0.3px solid white;
    box-shadow: 0 2px 0 0 #FBB500;
    align-items: center;
    justify-content: center;

    .backArrow{
        color: white;
        background-color: #FBB500;
    }
}}