@import '../../vars.scss';
@import '../../mixin.scss';

.board_row {
    @extend .f-c;
    flex-direction: row;
    gap: 10px;
    height: 17vw;
    margin-bottom: 10px;
    margin: 10px;
}

.square_frame {
    @extend .f-c;
    width: 17vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: #ccfcfc;
    border-radius: 10px;

}

.board {
    @extend .f-c;
    background-color: #fff;
    flex-direction: column;
    border-radius: 10px;
    min-width: 17rem;
    min-height: 17rem;

}