@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --bc: #3D7AD6;
    font-family: 'luckiest guy', cursive;
    -webkit-text-stroke: 1px #000;
}

$bgColor: var(--bc);

.f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    Button {

        width: 80vw;
        margin: 20px;
        padding: 15px;
        font-size: 30px;
        color: white;
        font-weight: bolder;
        text-shadow: -2px 0 #cd970d, 0 1px #cd970d, 1px 0 #cd970d, 0 -2px #cd970d;
    }
}