@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --bc: #3D7AD6;
    --buttonC: #fcd015;
    --shadowC: #fbb500;
}

*{
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke: 1px #000;
    color: #fff;
}

$bgColor: var(--bc);
$buttonColor: var(--buttonC);
$shadowColor: var(--shadowC);

.f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > Button {
        background-color: $buttonColor;
        border-radius: 150px;
        width: 80vw;
        margin: 20px;
        padding: 15px;
        font-size: 30px;
        text-shadow: 2px 2px #000;
        border: 0px;
        border-bottom: 0.01px solid $shadowColor;
        box-shadow: 0 4px 0 0 $shadowColor;
        align-items: center;
        justify-content: center;
        padding-bottom: 3px;
    }
}
