@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --bc: #3D7AD6;
    --buttonC: #ffd414;
    --shadowC: #fbb500;
    --borderC: #b58506;
    --boardSC: #ccfcfc;
}

$bgColor: var(--bc);
$buttonColor: var(--buttonC);
$shadowColor: var(--shadowC);
$borderColor: var(--borderC);
$boardSquareColor : var(--boardSC);

*{
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke: 1px #000;
    color: #fff;
}



.f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > Button {
        background-color: $buttonColor;
        -webkit-text-stroke: 2px $borderColor;
        border-radius: 150px;
        width: 80vw;
        margin: 20px;
        padding: 15px;
        font-size: 30px;
        text-shadow: 2px 2px $borderColor;
        border: 0px;
        border-bottom: 0.01px solid #fff;
        box-shadow: 0 6px 0 0 $shadowColor;
        align-items: center;
        justify-content: center;
        padding-bottom: 8px;
    }
}
