@import '../../vars.scss';


.player {
    @extend .f-c;
    flex-direction: column;
    position: relative;


    &>img {
        width: 90px;
        background-color: aliceblue;
        border-radius: 50%;
        border: 3px $borderColor solid;
    }


    .playerInfo {
        @extend .f-c;
        position: absolute;
        bottom: -15px;


        .wins {
            background-color: black;
            border-radius: 15%;
            padding: 3px;
            @extend .f-c;
            flex-direction: row;

        }
    }

    .playerName {
        position: relative;
        bottom: -30px;
    }

}