@import '../../vars.scss';


.playerDetails {
    @extend .f-c;
    flex-direction: column;
    gap: 30px;

    .logo {
        width: 120px;
        margin-bottom: 100px;
        filter: drop-shadow(0 0 0.75rem white);
        // scale: 0.5;
    }

    .input{
        width: 60vw;
        height: 3vh;

    }

    img {
        width: 80px;
    }

    .imagesToChoose {
        @extend .f-c;
        width: 60%;
        overflow-y: scroll;
    }

    .photo {
        margin-left: 10px;
        margin-right: 10px;
    }

    .chosenPhoto {
        width: 120px;
        height: 120px;
        padding: 10px;

    }

    .back {

        button {
            background-color: #FCD015;
            border-radius: 7px;
            border: none;
            border-bottom: 0.01px solid white;
            box-shadow: 0 4px 0 0 #FBB500;

            cursor: pointer;


            .backArrow {
                color: white;
                font-size: 50px;
                -webkit-text-stroke: 1px #000;
                font-weight: 900;

            }
        }
    }
}