@import '../../vars.scss';
@import '../../mixin.scss';

.X_O {
    font-size: 100%;
    width: 100%;
    @extend .f-c;
    background-image: linear-gradient(to bottom, $buttonColor 55%, $shadowColor 45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    filter: drop-shadow(-3px 0px 0px rgba(0, 0, 0));
    transition: all 0.3s ease-in-out; 

    &> img{
        width: 70%;
    }
}
.bigger {
    font-size: 32px; // Adjust the bigger font size as needed
  }
  
  .gray {
    opacity: 0.5;
  }
  