 .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image {
  width: 70%;
  height: 70%;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
}

.bigger {
image {
  width: 75px; // Adjust the desired bigger size of the images
  height: 75px; // Adjust the desired bigger size of the images
}
}
  .gray {
    opacity: 0.5;
    background-color: transparent;

  }
  