@import '../../vars.scss';

.joinGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .back {
        text-align: left;
    }
     .littlejoin{
        width: 100px;
    }
    // button {
    //     @extend .b
    // }
   


}
span:after,
span:before{
    content:"\00a0\00a0\00a0\00a0\00a0";
    text-decoration:line-through;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

}

.littlejoin{
    @extend .b;
    &> button {
        @extend .b-button;
    }
}