@import '../../vars.scss';

.bigcontainer {
  position: relative;
  @extend .f-c;
  height: 100vh;
  width: 100vw;

  .settings {
    @extend .b;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;

    &>button {
      @extend .b-button;
      margin: 15px 0;
    }
  }


  .container {
    @extend .b;
    width: 90vw;
    h2 {
      font-size: 40px;
      margin:5px;
    }

    .buttonContainer {
      display: flex;
      justify-content: center;
    }

    .choose {
      @extend .f-c;
      margin-bottom: 30px;
      font-size: 2.5rem;
    }
  }

  .signButton {
    @extend .f-c;
    background: white;
    cursor: pointer;
    padding: 10px;
  }
}