
  
  .welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 5px;
    height: 100vh; 
    width: 100vw; 
  
    img {
      display: block;
      filter: drop-shadow(0 0 0.75rem white);
   scale: 0.5;
    
    }
  
    .ow1 {
      position: absolute;
      top: 10vh; /* Changed from top: 10% */
      left: 15vw; /* Changed from left: 15% */
      transform: translate(-50%, -50%) rotate(-45deg) scale(1.7);
      filter: blur(2px);
      
    }
  
    .ow2 {
      position: absolute;
      top: 18vh; /* Changed from top: 10% */
      right: 25vw; /* Changed from right: 15% */
      transform: translate(50%, -50%) rotate(25deg) scale(3.5);
      filter: blur(2px);
    }
  
    .ow3 {
      position: absolute;
      bottom: 27vh; /* Changed from bottom: 10% */
      left: 15vw; /* Changed from left: 15% */
      transform: translate(-50%, 50%) rotate(-25deg) scale(2.5);
      filter: blur(1px);
    }
  
    .ow4 {
      position: absolute;
      bottom: 18vh; /* Changed from bottom: 10% */
      right: 15vw; /* Changed from right: 10% */
      transform: translate(50%, 50%) scale(2.1);
      filter: blur(2px);
    }
  }