@import '../../vars.scss';
@import '../../mixin.scss';

.menu {
    @extend .f-c;
    flex-direction: column;

    img {
        display: block;
        width: 60%;
        height: 60%;
        margin-bottom: 70px;
        filter: drop-shadow(0 0 0.75rem white)
    }

}